.overr234{
    height: calc(100vh - 136px);
    padding: 0px;
    overflow: auto;
    margin-top: -1rem;
  }
  

  .cmb{
      display: flex;
      justify-content: center;
  }

  legend{
      margin: 3px;
  }
  select{
      margin:5px;
  }

  .imgg{
    padding:0.5em 1em;
  }